{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'form_styles.css' %}">
</head>
<body>
    <div class="container">
      <div class="form">
          <h2>Create new account</h2>
          {% if messages %}
            <ul>
              {% for message in messages %}
                <h3 class="{{ message.tags }}">{{ message }}</h3>
              {% endfor %}
            </ul>
          {% endif %}
          <form action="{% url 'singup' %}" method="post">
            {% csrf_token %}
            {{ form.as_div }}
            <input type="submit" value="Sing Up">
          </form>
          <p>¿Have an account? <a href="/login">Login</a></p>
      </div>
    </div>
  </div>
</body>
</html>